@{
    ViewData["Title"] = "Bienvenidos";
}


<h2 class="text-center m-2"> Bienvenido a NAROO </h2>

<div class="col-12 bg-warning d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start  align-items-lg-start">

   



    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 d-flex align-items-center border rounded m-4">
        <img src="~/pic/punlic1.jpg" class="img-fluid" alt="...">
    </div>



</div>
